{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HONGSH - 修改密码{% endblock %}

{% block page_content %}
<div style="height: 20px"></div>
<div class="page-header">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-weight: 800px;font-family: '黑体'; font-size: 16pt;">修改密码</span>
</div>
<div class="col-md-4">
	<form role="form" method="post" style="padding-left: 30px;margin-bottom: 10px">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.old_password.label(class='control-label h6', style='font-size:16pt;') }}
            {{ form.old_password(class='form-control', placeholder='Enter Your Old Password', style='width:340px; border-width:1px; border-color:#126fda;') }}
        </div>
        <div class="form-group">
            {{ form.password.label(class='control-label h6', style='font-size:16pt;') }}
            {{ form.password(class='form-control', style='width:340px; border-width:1px; border-color:#126fda;') }}
        </div>
        <div class="form-group">
            {{ form.password2.label(class='control-label h6') }}
            {{ form.password2(class='form-control', placeholder='Confirm Your New Password', style='width:340px; border-width:1px; border-color:#126fda;') }}
        </div><br>
        {{ form.submit(class='btn btn-primary',style='margin-bottom:25px; background-color:#126fda; font-weight:bold; width:340px;') }}
    </form>
</div>
{% endblock %}
