{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}登录|梦想的天空{% endblock %}

{% block page_content %}
<div class="page-header">
    <h6 style="font-family: '微软雅黑';font-weight: bold;">用户登录</h6>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <div style="font-size: 12pt; font-family: '微软雅黑'; font-weight: bold;"> 忘记密码? <a href="{{ url_for('auth.password_reset_request') }}" style="">重置密码</a></div>
    <div style="font-size: 12pt; font-family: '微软雅黑'; font-weight: bold;">想要注册? <a href="{{ url_for('auth.register') }}"	>注册账户</a></div>
</div>
{% endblock %}
