{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HONGSH - 编辑资料{% endblock %}

{% block page_content %}
<div style="height: 20px"></div>
<div class="page-header">
    <span style="font-weight: 800px;font-family: '黑体'; font-size: 16pt;">编辑资料</span>
</div>
<div class="col-md-4">
    <form role="form" method="post" style="padding-left: 0px;margin-bottom: 10px">
        	{{ form.csrf_token }}
        	<div class="form-group">
            	{{ form.email.label(style='font-size:12pt;') }}
            	{{ form.email(class='form-control', placeholder='Your Email', style='background: url(/static/login-locked-icon.png)no-repeat 15px center; width:282px; height:35px; border-width:1px; border-color:#126fda; text-indent:26px;') }}
        	</div>
        	<div class="form-group">
            	{{ form.username.label(style='font-size:12pt;') }}
            	{{ form.username(class='form-control', placeholder='Your Name', style='background: url(/static/username.png)no-repeat 15px center; width:282px; height:35px; border-width:1px; border-color:#126fda; text-indent:26px;') }}
        	</div>
        	<div class="form-group" style="width: 282px;">
            	{{ form.confirmed() }}{{ form.confirmed.label(style='font-size:12pt;') }}
        	</div>
        	<div class="form-group">
            	{{ form.role.label(style='font-size:12pt;') }}
            	{{ form.role(class='form-control', style='width:50%; border-width:1px; border-color:#126fda; background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent; padding-right: 14px; appearance:none; -moz-appearance:none; -webkit-appearance:none;') }}
        	</div>
        	<div class="form-group">
            	{{ form.name.label(style='font-size:12pt;') }}
            	{{ form.name(class='form-control', placeholder='Your Real Name', style='background: url(/static/username.png)no-repeat 15px center; width:282px; height:35px; border-width:1px; border-color:#126fda; text-indent:26px;') }}
        	</div>
        	<div class="form-group">
            	{{ form.location.label(style='font-size:12pt;') }}
            	{{ form.location(class='form-control', placeholder='Location...', style='background: url(/static/location.png)no-repeat 15px center; width:282px; height:35px; border-width:1px; border-color:#126fda; text-indent:26px;') }}
        	</div>
        	<div class="form-group">
            	{{ form.about_me.label(style='font-size:12pt;') }}
            	{{ form.about_me(class='form-control', placeholder='Describe Yourself...', style='width:282px; height:100px; border-width:1px; border-color:#126fda; text-indent:26px;') }}
        	</div>
        	
        	{{ form.submit(class='btn btn-primary',style='margin-bottom:25px; background-color:#126fda; font-weight:bold; width:282px;') }}
    	</form>
</div>
{% endblock %}
