{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}HONGSH - {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div style="height: 20px"></div>
<div class="page-header">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-weight: 800px;font-family: '黑体'; font-size: 16pt;">{{ title }} {{ user.username }}</span>
</div>
<table class="table table-hover followers">
    <thead><tr><th>用户</th><th>从</th></tr></thead>
    {% for follow in follows %}
    {% if follow.user != user %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = follow.user.username) }}" style="color: #126fda">
                <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}">
                {{ follow.user.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="pagination" style="background-color: white; margin-left: 1020px">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
