{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}首页|梦想的天空{% endblock %}

{% block page_content %}
<meta character=utf-8>
<div style="height: 20px"></div>
<div class="page-header">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-weight: 800px;font-family: '黑体'; font-size: 16pt;">你好，{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}游客{% endif %}！</span>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <!--Modified-->
    <form role="form" method="post" style="padding-left: 30px;margin-bottom: 10px">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label(class='control-label h6') }}
            {{ form.title(class='form-control', placeholder='输入标题', style='width:40%; border-width:1px; border-color:#126fda;') }}
            {% for error in form.title.errors %}
            <span class="help-block" style="color: #f8545b">
                <img src="../static/icon/icon_wrong.png" style="width: 13px;height:13px"> {{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.category.label(class='control-label h6', style='font-size:16pt;') }}
            {{ form.category(class='form-control', style='width:20%; border-width:1px; border-color:#126fda; background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent; padding-right: 14px; appearance:none; -moz-appearance:none; -webkit-appearance:none;') }}
        </div>
        <div class="form-group">
            {{ form.body.label(class='control-label h6') }}
            {{ form.body(class='form-control ckeditor', placeholder='输入文章', style='border-color:#126fda') }}
            {% for error in form.body.errors %}
            <span class="help-block" style="color: #f8545b">
                <img src="../static/icon/icon_wrong.png" style="width: 13px;height:13px"> {{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class='btn btn-primary',style='margin-bottom:25px; background-color:#126fda; font-weight:bold; width:160px;') }}
    </form>
    {% endif %}<br><br>
    <ul class="list-post" style="padding-left: 20px">
        <li {% if not show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('main.show_all') }}" style="font-family: '黑体'; font-size: 10pt; color: black; border-color: lightgrey; border-radius: 6px;">全部文章</a>
        </li>
        <li {% if show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('main.show_followed') }}" style="font-family: '黑体'; font-size: 10pt; color: black; border-color: lightgrey; border-radius: 6px;">关注者文章</a>
        </li>
    </ul>
    {% include '_post.html' %}

<div style="margin-left: 750px ">
    {{ macros.pagination_widget(pagination, "main.index")}}
</div>
<br>
<hr width="100%">
<div>
    <footer style="height: 60px; width: 100%; background-color: transparent; align-items: center;">
        <p style="text-align: center; font-family: '黑体'; color: grey;">Copyright&copy;By DreamSky-Team</p>
        <p style="text-align: center; font-family: '黑体'; color: grey;">Support By Flask@JinJa@Bootstrap@TencentCloud@Github</p>
    </footer>
</div>
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'ckeditor/ckeditor.js') }}"></script>
    <script>
$(document).ready(function(){
$(".post-body").each(function()
{
 var maxwidth=250;
 if($(this).text().length>maxwidth){
 $(this).text($(this).text().substring(0,maxwidth));
$(this).html($(this).html()+"...");
}
});
 });
</script>
{% endblock scripts %}
