{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}HONGSH - Comment Moderation{% endblock %}

{% block page_content %}
<div style="height: 20px"></div>
<div class="page-header">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-weight: 800px;font-family: '黑体'; font-size: 16pt;">审核评论</span>
</div>
{% set moderate = True %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination" style="background-color: white; margin-left: 1020px">
    {{ macros.pagination_widget(pagination, '.moderate') }}
</div>
{% endif %}
{% endblock %}
