{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}梦想的天空 - 博客{% endblock %}

{% block page_content %}
{% include '_post.html'%}
{% if current_user.can(Permission.COMMENT) %}
<div>
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination" style="background-color: white; margin-left: 790px">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock page_content %}

{% block scripts %}
{{super()}}
{{pagedown.include_pagedown()}}
{% endblock scripts %}
